
.idea/.idea.Ultimate Hero/.idea/contentModel.xml

.idea/.idea.Ultimate Hero/.idea/indexLayout.xml

.idea/.idea.Ultimate Hero/.idea/modules.xml

.idea/.idea.Ultimate Hero/.idea/vcs.xml

.idea/.idea.Ultimate Hero/.idea/workspace.xml

.idea/.idea.Ultimate Hero/riderModule.iml

Assembly-CSharp-Editor-firstpass.csproj

*.csproj

Library/assetDatabase3

Library/AnnotationManager

Library/AssetImportState

Library/metadata/00/0000000000000000c000000000000000
